#if($type)${type}#end#if($scope)(${scope})#end: #if($subject)${subject}#end
#if($body)${breakLine}${section}${body}#end
#if($hasFooter)${section}#end
#if($changes)${breakLine}BREAKING CHANGE: ${changes}#end
#if($deprecated)${breakLine}DEPRECATED: ${deprecated}#end
#if($closes)${breakLine}ISSUES: ${closes}#end
